header {
  padding: 8px;
  border-bottom: 1px solid;

  a {
    padding: 4px;
    margin-right: 8px;
    text-decoration: none;
    border: 1px solid;
    transition: 200ms;

    &:hover {
      background: #e9c8f3;
    }
  }
}

section {
  padding: 8px;
}
